body {
    margin: 0;
}
.page-header{
	padding: 20px;
  padding-top:30px;
  padding-bottom: 70px;
	display: grid;
	  grid-template-columns: 1fr 160px;
}

ol{
    margin: 0;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 40px;
    column-gap: 20px;
    row-gap: 30px;
    display: grid;
        grid-template-columns: 1fr 1fr;
}

footer {
    padding: 20px;
    padding-top: 10px;
}